body {
    font-family: 'Open Sans';
    transition: all 0.3s ease 0s;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, h7, #header {
    color: #ffa454;
    margin-bottom: 0.2em;
    border-bottom: 2px solid #DDDDDD;
    vertical-align: bottom;
    font-weight: normal;
}

div#main {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
}

div#main div.block.half {
    width: 48%;
    margin: 0;
    padding: 7px;
}

div#main div.block {
    width: 97%;
    float: left;
    padding: 7px;
}

div.full {
    position: relative;
    width: 97%;
}

.gone {
    display: none;
}

#menu {
    width: 250px;
}

#menu .item {
    position: relative;
    overflow: hidden;
    width: 170px;
    height: 100px;
    background-color: #f3f2f0;
    margin: 15px;
    padding: 15px;
}

#menu .item.selected, #menu .item:hover {

    background-color: #ff6200;
    cursor: hand;
    color: white;
}

#menu .item .fa {
    position: absolute;
    right: -8px;
    bottom: -20px;
    font-size: 120px;
}

#menu, #inner {
    display:inline-block;
    float: left;
    position: relative;
}

#inner {
    max-width: 1040px;
    width: calc(100% - 250px);
}

#puppet {
    position: fixed;
    right: 1em;
    bottom: 1em;
    width: 5em;
    height: 5em;
    border-radius: 2.5em;
    background-color: #ff6200;
    text-align: center;
    box-shadow: 0px 0px 7px 3px #aaa;
}

#header {
    font-size: 2em;
}


h2 {
    font-size: 0.2em;
}

#puppet img {
    margin-top: 13%;
    height: 74%;
}

#hamburger {
    display: none;
}

.amount {
    display: inline-block;
    height: 70px;
    width: 70px;
    font-size: 24px;
    line-height: 70px;
    baseline-shift: baseline;
    background-color: #ff6200;
    border-radius: 35px;
    text-align: center;
    float: right;
    margin-right: 15px;
    color: white;
    font-weight: lighter;
}

#logo {
    display: none;
}

img.half {
    width: 47%;
    margin: 5px;
}

.bubble.show {
    opacity: 1;
}

.bubble
{
    transition: all 0.3s ease 0s;
    position: fixed;
    opacity: 0;
    bottom: 8em;
    right: 1em;
    max-width: 60vw;
    padding: 12px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #A1A67F solid 1px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    right: 1.5em;
}

.bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #A1A67F transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -16px;
    right: 1.5em;
}
